@tailwind base;
@tailwind components;

@layer components {
  .about-us-section {
    @apply py-12 w-full lg:py-0 lg:h-screen bg-main flex flex-col lg:flex-row items-center justify-around;
  }

  .services-section {
    @apply w-full h-full lg:h-screen bg-secondary flex flex-col lg:flex-row items-center justify-between lg:justify-around;
  }

  .service-card {
    @apply bg-tertiary py-8 px-6 lg:px-10 my-10 lg:my-0 lg:h-80 rounded-md shadow-md w-10/12 lg:w-5/12;
  }

  .service-card h3 {
    @apply text-xl lg:text-4xl font-medium mt-2 mb-6 text-main;
  }

  .service-item {
    @apply flex items-center lg:ml-10 border-b-2 border-gray-600 pb-2 my-1 text-base hover:font-semibold text-gray-300;
  }

  .service-item-icon {
    @apply text-gray-300 group-hover:text-main text-xl lg:text-lg;
  }

  .overview-section {
    @apply h-full lg:h-screen flex flex-col lg:flex-row justify-around items-center py-10 lg:py-6 my-10 mb-4 border-b-2 border-gray-200;
  }

  .overview-card {
    @apply overflow-hidden cursor-pointer w-10/12 lg:w-3/12 my-10 lg:my-0;
  }

  .overview-img {
    height: 240px;
    @apply w-full rounded-sm shadow-sm transform transition-all duration-300 group-hover:scale-105;
  }

  .overview-title {
    @apply mt-6 mb-4 text-3xl font-semibold group-hover:text-blue-900;
  }

  .overview-text {
    @apply text-base text-subHeadLine leading-relaxed;
  }

  .overview-cta {
    @apply w-full text-xl py-2 flex items-center relative group-hover:!text-main text-blue-900 font-semibold z-20;
  }

  .overview-btn-bg {
    @apply w-full h-full transform absolute -translate-x-full group-hover:translate-x-0 bg-main group-hover:bg-blue-900 transition-all duration-500 -z-1;
  }

  .overview-btn-arrow {
    @apply transition-all duration-500 w-5 
    group-hover:w-28 lg:group-hover:w-24 bg-blue-900 group-hover:bg-main z-10;
  }
}

@tailwind utilities;
